


<h1>Hello Cognito</h1>
<h3>Is logged in? {{loggedIn}}</h3>
<div class="auth-features">
  <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a> &nbsp;&nbsp;
  <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a> &nbsp;&nbsp;
  <a [routerLink]="['/verify-email']" routerLinkActive="router-link-active">Verify email</a> &nbsp;&nbsp;
  <a [routerLink]="['/login']" routerLinkActive="router-link-active">Log In</a> &nbsp;&nbsp;
  <a [routerLink]="['/change-password']" routerLinkActive="router-link-active">Change password</a> &nbsp;&nbsp;
  <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot password</a> &nbsp;&nbsp;
  <a [routerLink]="['/logout']" routerLinkActive="router-link-active">Log Out</a> 
</div>

<router-outlet></router-outlet>