<div>
  <h3>Forgot password</h3>
  <h4>Step 1: Enter your user name</h4>
  <label>Enter your email</label>
  <input
    type="text"
    name="userEmail"
    id="userEmails"
    placeholder="Email"
    [(ngModel)]="user.email"
  />
  <button (click)="sendForgotPasswordForEmail()">Forgot password</button>
</div>
<div>
  <h4>Step 2: Enter new password with the code</h4>
  <label>Enter your new password</label>
  <input
    type="text"
    name="userNewPassword"
    id="userNewPassword"
    placeholder="New password"
    [(ngModel)]="user.newPassword"
  /> * in a real implementation, password confirmation is needed
  <br/>
  <label>Enter confirmation code</label>
  <input
    type="text"
    name="userCode"
    id="userCode"
    placeholder="Confirmation code"
    [(ngModel)]="user.code"
  />
  <button (click)="sendCodeAndNewPassword()">Set new password</button>
</div>
